<template>
  <div>
    <label for="file">
  		<img src="../assets/placeholder.png" id="image_placeholder">
	</label>
    <label id="file_input_button" for="file">
  		Add another image
	</label>
	<input type="file" id="file" name="file" @change="loadImage($event)" accept="image/*" style="display:none;"/>
  </div>
</template>

<script>
export default {
  name: 'ImageCanvas',
  data () {
    return {
    }
  },
  methods: {
  	loadImage: function(ev) {
      const file = ev.target.files[0];
      const reader = new FileReader();
      var that = this;

      document.getElementById('image_placeholder').style.opacity = 0;

      reader.onload = function(e) {
      	var img = new Image();

        img.src = e.target.result;

        //Image has loaded
        img.onload = function(){
      		that.$emit("load", img);
      		document.getElementById('image_placeholder').style.display = 'none';
      		document.getElementById('file_input_button').style.display = 'inline-block';
		}
      }

      reader.readAsDataURL(file);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  #image_placeholder {
    width: 500px;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: opacity 0.5s; /* Safari */
    transition: opacity 0.5s;
  }
  #file_input_button {
  	border: 1px #ddd solid;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  	display: none;
  	margin-bottom: 20px;
    -webkit-transition: background-color 0.2s; /* Safari */
    transition: background-color 0.2s;
  }
  #file_input_button:hover {
  	background-color: rgba(0,0,0,0.2);
    -webkit-transition: background-color 0.2s; /* Safari */
    transition: background-color 0.2s;
  }
</style>