<template>
  <div>
    <canvas id="canvas"></canvas>
  </div>
</template>

<script>
export default {
  name: 'ImageCanvas',
  props: ['image'],
  data () {
    return {
      originalImageData: {},
      originalCanvas: document.createElement('canvas')
    }
  },
  methods: {
    loadImage: function(img) {
      //Keep the original canvas in memory
      this.originalCanvas.width = img.width;
      this.originalCanvas.height = img.height;
      this.originalCanvas.getContext('2d').drawImage(img,0,0);

      //Draw the image on the display canvas
      const canvas = document.getElementById('canvas');
      const ctx = canvas.getContext('2d');

      canvas.width = img.width;
      canvas.height = img.height;
      ctx.drawImage(img,0,0);

      canvas.style.display = 'inline-block';
      canvas.style.opacity = 1;

      this.$emit('finished');
    },
    changeBrightness(brightness) {
      const canvas = document.getElementById('canvas');
      const ctx = canvas.getContext('2d');
      
      //Get the original canvas and modify the pixel values and update the display canvas with the new image
      var imageData = this.originalCanvas.getContext('2d').getImageData(0,0,this.originalCanvas.width,this.originalCanvas.height);
      var pixelData = imageData.data;

      for(var i = 0; i < pixelData.length; i += 4) {
        pixelData[i] = Math.min(pixelData[i] * brightness/250, 255);
        pixelData[i+1] = Math.min(pixelData[i+1] * brightness/250, 255);
        pixelData[i+2] = Math.min(pixelData[i+2] * brightness/250, 255);
        pixelData[i+3] = pixelData[i+3];
      }


      imageData.data.set(pixelData);

      ctx.putImageData(imageData, 0, 0);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  #canvas {
    width: 500px;
    display: none;
    opacity: 0;
    -webkit-transition: opacity 0.5s; /* Safari */
    transition: opacity 0.5s;;
  }
</style>
