<template>
  <div class="slider-wrapper">
    <p>Brightness</p>
    <input type="range" min="0" max="500" value="250" class="slider" id="slider" v-model="value" @mousemove="changeValue" disabled>
  </div>
</template>

<script>
export default {
  name: 'Slider',
  data () {
    return {
      value: 250
    }
  },
  methods: {
    changeValue: function() {
      this.$emit('changeValue', this.value);
      var val = this.value / 500 
    
      document.getElementById('slider').style.backgroundImage =
                '-webkit-gradient(linear, left top, right top, '
                + 'color-stop(' + val + ', #157efb), '
                + 'color-stop(' + val + ', #ddd)'
                + ')';
    },
    enable: function() {
      document.getElementById('slider').disabled = false;
      this.changeValue();
    },
    reset: function() {
      this.value = 250;
      document.getElementById('slider').style.backgroundImage =
                '-webkit-gradient(linear, left top, right top, '
                + 'color-stop(0.5, #157efb), '
                + 'color-stop(0.5, #ddd)'
                + ')';
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  /* Range slider */

  .slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 500px; 
    height: 3px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider:hover {
    opacity: 1;
  }

  /* Range slider button */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff; 
    cursor: pointer;

    box-shadow:  0 3px 5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 3px 5px  rgba(0,0,0,0.6);
  }

  .slider::-moz-range-thumb {
    -moz-appearance: none;
    width: 30px;
    height: 30px; 
    border-radius: 50%;
    background: #fff;
    cursor: pointer; 

    box-shadow:  0 3px 5px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 3px 5px  rgba(0,0,0,0.6);
  }

  /* Firefox remove border */
  .slider::-moz-focus-outer {
    border: 0;
  }

  /** FF*/
  .slide::-moz-range-progress {
    background-color: #157efb; 
  }
  .slide::-moz-range-track {  
    background-color: #ddd;
  }
  /* IE*/
  .slide::-ms-fill-lower {
    background-color: #157efb; 
  }
  .slide::-ms-fill-upper {  
    background-color: #ddd;
  }

</style>
