<template>
  <div id="app">
    <ImageSelector @load="loadImage"/>
    <ImageCanvas ref="imageCanvas" @finished="imageLoaded"/>
    <Slider @changeValue="changeBrightness" ref="slider"/>
  </div>
</template>

<script>
import ImageSelector from './components/ImageSelector'
import ImageCanvas from './components/ImageCanvas'
import Slider from './components/Slider'

export default {
  name: 'App',
  components: {
    ImageCanvas,
    ImageSelector,
    Slider,
  },
  data () {
    return {
      brightness: 250
    }
  },
  methods: {
    loadImage: function(image) {
      this.$refs.imageCanvas.loadImage(image);
    },
    imageLoaded: function() {
      this.$refs.slider.enable();
      this.$refs.slider.reset();
      this.brightness = 250;
    },
    changeBrightness: function(brightness) {
      if(this.brightness === brightness) {
        return;
      }
      this.brightness = brightness;

      this.$refs.imageCanvas.changeBrightness(brightness);
    },

  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
